*{
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Poppins', sans-serif;
}

.header{
    background-color: #333;
    display: flex;
    justify-content: space-around;
}
.logo {
   
    color: aliceblue;
}
.logo .logo-text{
    font-size: 50px;
    color: aquamarine;
}

 

.menu li{
    list-style-type: none;
    display: inline-block;
    margin: 20px 0;
}
.menu li a{
    text-decoration: none;
    color: aliceblue;
    padding: 1px 5px;
  
    background-color: tomato;
}
.search{
    margin-top: 20px;
}
.search a{
    padding: 3px 5px;
    background-color: tomato;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
}
.main-contain{
    display: flex;
    justify-content: space-between;
    height: 120vh;
}
.text-row{
    margin: 30vh 10vw ;
}
.text-row p{
    margin-bottom: 30px;
}
.text h1{
    font-size: 35px;
    margin-bottom: 10px;
}
.text span{
    color: tomato;
    font-size: 50px;
}
.text-row a{
    padding: 10px 15px;
    background-color: tomato;
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
}

.image-row img{
    width: 100%;
    margin-top: 10vh;
}
   
#image-row img{
    width: 40vw;
    height: 80vh;
    padding: 10px 40px;
    margin-top: 5vh;
}
.second-contain{
    display: flex;
    justify-content: space-around;
    height: 90vh;
    background-image: url(../food-villa/image/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
#text-row{
    margin-top: 10vh;
}